<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}styles.css">
</head>

<body>
    <h1>🧠 {{ page.title }} <span class="lang-list">(<a href="/">en</a>, <a href="/ru">ru</a>)</span></h1>
    <main>
        <content>
            {% include anchor_headings.html
                html=content
                anchorBody="📎"
                anchorClass="anchor" %}
        </content>
        <side>
            {% include toc.html html=content %}
        </side>
    </main>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js');
        }
    </script>
</body>

</html>
